.station-modal {
  background: green;
  border: 1px solid black;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 25%;
  text-align: center;
  /*height: 250px;*/
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.modal-navigation-bs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.x {
  width: 20px;
  margin-right: 10px; 
}

.dmx {
  cursor: pointer;
  color: black;
  transition: color .25s ease-in-out;
  font-size: 16px;
  /*max-height: 50px;
  min-height: 50px;*/
  /*height: 50px;*/
  position: relative;
  border: 1px solid black;
}

.dmx:hover {
  color: white;
  transition: color .25s ease-in-out;
}
